.header {
  background-color: #191a19 !important;
  padding: 0 !important;
}

.navbar {
  background-color: #191a19 !important;
}

.footer {
  background-color: #191a19 !important;
  padding: 0 !important;
}
