.header {
  background-color: black !important;
  padding: 0 !important;
}

.navbar {
  background-color: black !important;
}

.footer {
  background-color: black !important;
  padding: 0 !important;
}
